__pycache__/
.DS_Store
.vscode
host_server/
docker_cache/
python/client_settings.toml

# Allow examples in these
waveforms/*
!waveforms/ex_*
verilog/live_sim/*
!verilog/live_sim/ex_*
verilog/testbench/*
!verilog/testbench/ex_*